<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
   	    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      		<pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
    	</encoder>
    </appender>

    <appender name="AMQP" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <layout>
            <pattern><![CDATA[ %d %p %t [%c] - <%m>%n ]]></pattern>
        </layout>
        <addresses>localhost:5672</addresses>
        <abbreviation>36</abbreviation>
        <includeCallerData>false</includeCallerData>
        <applicationId>${AMQP_APP_ID}</applicationId>
        <routingKeyPattern>%property{applicationId}.%c.%p</routingKeyPattern>
        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>true</durable>
        <deliveryMode>PERSISTENT</deliveryMode>
        <declareExchange>true</declareExchange>
    </appender>

    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="de.ksbrwsk" level="INFO"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <root level="#logback.loglevel#">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="AMQP"/>
    </root>
</configuration>
